/***** MAIN APPLICATION ******/

.app {
  width: 85%;
  margin: auto;
  color: #333333;
}

header {
  margin-bottom: 1.5em;
}

.app-title {
  margin-bottom: 0;
  font-size: 2.3em;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.app-secondary-title {
  font-weight: bold;
  letter-spacing: 1.5px;
}

/***** QUICKSTART COMPONENT ******/

.quickstart {
  background-color: #333333;
  color: #eee;
  padding: 1.5em;
  border-radius: 10px 10px 0px 0px;
  font-size: 13px;
}

.quickstart h1 {
  margin-top: 0;
}

/***** NAMELIST COMPONENT ******/

.namelist-sorting {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
}

.namelist-sorting-sortby {
  margin-right: 10px;
}

.namelist-sorting button {
  color: #999999;
  font-weight: bold;
  border: none;
  background: none;
  font-size: 1.0em;
  font-family: 'Roboto', sans-serif;
  padding: 0px;
  margin-right: 10px;
}
.namelist-sorting button:last-of-type {
  margin-right: 0px;
}

.namelist-sorting .sort-active {
  color: #444444;
}


.namelist {
  background-color: #eeeeee;
  padding: 1.5em;
  border-radius: 0px 0px 10px 10px;

  margin-bottom: 1.5em;
}

.namelist-data-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.0em;
  font-weight: bold;
}



.namelist-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  padding: 3px 0px;
  border-bottom: 2px solid #cccccc;
}

.namelist-item:last-child {
  border-bottom: none;
}

/***** SEARCH COMPONENT ******/

.search {
  margin-bottom: 1.5em;
}

.search input[type="text"] {
  width: 100%;
  background: none;
  border: none;
  padding: 10px;
}

.search-input {
  display: flex;
  border-radius: 50px;
  background-color: #D2D2D2;
  align-items: center;
  padding: 0px 10px;
  margin-bottom: 0.75em;
}


.search-total-results {
  font-weight: bold;
}

.search-best-match {
  font-weight: bold;
}


/***** MEDIA QUERIES ******/

@media screen and (min-width: 1200px) {

  .app {
    width: 1000px;
    margin: auto;
  }

  main {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  .namelist {
    width: 60%;
    border-radius: 10px;
  }

  .quickstart {
    width: 30%;
    border-radius: 10px;
    height: fit-content;
  }
}
